* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #00B7FF;
}

#main_map {
    height: 600px;
}

body {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#listado {
    margin-left: 10%;
    margin-top: 6%;
    width: 80%;
    justify-content: center;
    align-items: center;
    scroll-behavior: auto;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px grey;
    background-color: darkslategray;
}

.table {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.table>thead,
.table>tbody {
    width: 100%;
}

thead th {
    width: 16.66%;
}

tbody td {
    margin-top: 10px;
}

.btn-ingresar {
    border: none;
    background-color: rgb(68, 118, 172);
    margin-right: 20px;
    margin-top: 13px;
    height: 40px;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    float: right;
    color: white;
}

.btn-ingresar:hover {
    color: darkslategray;
    background-color: white;
    transition: 0.8s ease;
    display: inline-block;
}

.list-header {
    width: 700px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    color: white;
}

.btn-delete {
    background-image: url('../images/delete.png');
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 2px;
    text-align: center;
    font-size: 20px;
    height: 32px;
    width: 32px;
    margin-top: -2px;
}

.btn-delete:hover {
    background-color: transparent;
    transform: rotate(360deg);
    border-radius: 50%;
    transition: 0.5s ease;
}

.update {
    background-image: url('../images/update.png');
    background-color: transparent;
    border: none;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 2px;
    text-align: center;
    margin-top: -3px;
}

.update:hover {
    border-radius: 50%;
    transform: rotate(540deg);
    transition: 0.3s ease-out;
}

.form-update {
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

label {
    width: 40%;
    color: white;
    font-size: 20px;
}

input {
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    width: 40%;
    height: 40px;
    background-color: rgb(17, 30, 43);
    color: white;
    box-shadow: 0px 0px 3px 0px black;
}

input.btn {
    color: white;
    font-size: 18px;
}

input.btn:hover {
    background-color: rgb(68, 118, 172);
    color: white;
    transition: 1s;
}

input:focus {
    background-color: rgb(45, 78, 114);
    color: grey;
}