extends ../layout

block content
    #listado
        button.btn-ingresar(onclick="window.location.href='../../bicicletas/'") Cancelar
        h1.list-header Agregar Bicicleta
        br
        br 
        br 
        form.form-update(action='/bicicletas/create' method='post')
            label(for='id') ID:
            input#id(type='text' name='id')
            br
            label(for='color') Color:
            input#color(type='text' name='color')
            br
            label(for='modelo') Modelo:
            input#modelo(type='text' name='modelo')
            br
            label(for='lat') Latitud:
            input#modelo(type='text' name='lat')
            br
            label(for='lng') Longitud:
            input#modelo(type='text' name='lng')
            br
            br
            input.btn(type='submit' value='OK')